*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Colors */
	--color-bg: #f4f4f4;
	--color-bg-shadow: #d0d0d0;
	--color-reflection: #ffffff;
	--color-text-1: #757575;
	--color-text-2: #b0b0b0;
	--color-text-3: #cbcbcb;
	--color-text-4: #dcdcdc;
	--color-accent: #92cd92;
	--color-warning: #e97171;
	--color-protein: #88d3dd;
	--color-fat: #f8c586;
	--color-carbs: #cfa2df;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'League Spartan', sans-serif;
	font-size: 1.6rem;
	width: 100vw;
	height: 100vh;
}

#root {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg);
	color: var(--main-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	user-select: none;
}
